<!--
  Generated template for the RedditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ion reddit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <ion-item *ngFor='let item of items'>
        <ion-card>
                 
      <ion-thumbnail *ngIf="item.data.thumbnail" >
          <img src="{{item.data.thumbnail}}"/>
        </ion-thumbnail>
            <ion-card-content>
              <ion-card-title>
                  <h3>{{item.data.title}}</h3>
                </ion-card-title>
                <p><ion-icon color="primary" name="thumbs-up">{{item.data.score}}</ion-icon></p>
                <p><ion-icon color="primary" name="chatboxes">{{item.data.num_comments}}</ion-icon></p>
            </ion-card-content>
          </ion-card>


     
     
     
    </ion-item>
</ion-list>
</ion-content>
